<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Spark</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image" href="./img/favicon.ico"/>
</head>

<body style="background-color: #26262b;"><nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #26262b;height: 15vh;">
    <div class="collapse navbar-collapse" id="navcol-1" style="width:100vw; margin: none;">
        <ul class="nav navbar-nav navbar-center" style="width:100vw;text-align:center;margin: 0 auto;width: fit-content;">
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/">SPARK</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">&#183;</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active" href="/about">ABOUT</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">&#183;</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
        </ul>
    </div>
</nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>