<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Spark</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image" href="./img/favicon.ico"/>
</head>
<body>
<div class="container-fluid" stle="height:15vh;text-align center"><a class="navbar-brand" href="#" style="color: rgba(14,14,14,0.9);">Spark</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1" style="width:100vw; margin: none;">
            <ul class="nav navbar-nav navbar-center" style="width:100vw;text-align:center;margin: 0 auto;width: fit-content;">
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/" style="color: rgba(255,255,255,0.9);font-family: 'Lexend Deca Regular';font-size: 5vh;">SPARK</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" style="color: rgba(255,255,255,0.9);font-family: 'Lexend Deca Regular';font-size: 5vh;">&#183;</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active" href="#" style="color: rgba(255,255,255,0.5);font-family: 'Lexend Deca Regular';font-size: 5vh;">ABOUT</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active" style="color: rgba(255,255,255,0.9);font-family: 'Lexend Deca Regular';font-size: 5vh;">&#183;</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/login" style="color: rgba(255,255,255,0.5);font-family: 'Lexend Deca Regular';font-size: 5vh;">LOG IN</a></li>
            </ul>
    </div>
    </nav>
        <iframe src="/calendar" style='border-radius: 20px; overflow: hidden; width: 60vw; height: 110vh; flex: 1 0 auto;'></iframe>
</body>
</html>