<html>
    <head>
       <title>Discussion Board</title>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <style>
        .card-header {
    background-color: white;
    padding-left: 0px;
}

.cardBody {
    padding: 20px;
}

.btn-link {
    color: darkblue;
}

#replyForm {
    padding-top: 30px;
    padding-bottom: 30px;
}

#threadCardBlock {
    
    padding: 20px;
    margin-bottom: 20px;
}


#addThread {
    margin-bottom: 20px;
    
}

#idholder, #threadID, #replyID, #replyBody {
    font-size: 15px;
}


#threadBody {
    font-size: 15px;
    
    padding: 5px;
    width: 82%;
}


h1 {
    text-align: center;
    padding: 25px;
}
    </style>
    <body>
        
   

        <div class="container">

            
            <div class="row">
                <div class="col-lg-10">
                    <h1>Welcome to the Discussion Board</h1>
                </div>
               
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <form id="threadForm">
                        <div class="form-group">
                            <label for="threadName">Thread Name</label>
                            <input type="text" class="form-control" id="threadNameInput">
                        </div>
                        <div class="form-group">
                            <label for="threadBody">Thread Body</label>
                            <textarea class="form-control" rows="3" id="threadBodyInput"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary" id="addThread">Add +</button>
                    </form>
                </div>
            </div>
            <div>
                <div class="row" id="threadRow">

                </div>
            </div>
            <!-- <div class="row" id="threadRow">
                <div class="col-lg-10">
                    <div class="card-block">
                        <h3 class="threadHeader">Thread Header</h3>
                        <div class='card-body'>
                            <p>This is the body of the thread</p>
                        </div>
                        <button class="btn btn-success">Reply</button>
                    </div>
                </div>
            </div> -->
            
            
        </div>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="main.js"></script>
        <script src="http://chancejs.com/chance.min.js"></script>
        <script>
            // Initialize Firebase
var config = {
    apiKey: "AIzaSyAFsWpVKy1bjsOM07arnzk5UYIUZz7qxGY",
    authDomain: "https://spark-2121.web.app/",
    databaseURL: "https://spark-2121.firebaseio.com",
    projectId: "spark-2121",
  };
  firebase.initializeApp(config);

//reference thread collection
var threadsRef = firebase.database().ref('threads');
var repliesRef = firebase.database().ref('replies')

threadsRef.on('value', createThreads, errData);
repliesRef.on('value', createReplies, errData);


function errData() {
    console.log(err);
}



document.getElementById('threadForm').addEventListener('submit', saveThread)
document.getElementById('replyForm').addEventListener('submit', saveReply)



function saveThread(e) {
    e.preventDefault();
    var threadName = document.getElementById('threadNameInput').value;
    var threadBody = document.getElementById('threadBodyInput').value;
    var id = chance.guid();


    document.getElementById('threadForm').reset();

    //save thread to firebase
    saveThreadFB(threadName, threadBody, id);
}

function saveReply(e) {
    //e.preventDefault();

    var threadID = e;
    var replyBody = document.getElementById("input"+e).value; //creates unique id for each thread id
    var id = chance.guid();

    document.getElementById("replyForm").reset();

    saveReplyFB(replyBody, id, threadID);
}

//save thread to firebase
function saveThreadFB(threadName, threadBody, threadID) {
    var newThreadRef = threadsRef.push();
    newThreadRef.set({
        name: threadName,
        body: threadBody,
        id: threadID

    });
}

//save replies to firebase
function saveReplyFB(replyBody, replyID, threadID){
    var newReplyRef = repliesRef.push();
    newReplyRef.set({
        body: replyBody,
        replyid: replyID,
        threadID: threadID
    });
}



function createThreads(data) {
    array = []
    //console.log("Called createThreads")
    var threads = data.val();
    var keys = Object.keys(threads);
    var threadList = document.getElementById('threadRow');
    threadList.innerHTML = '';
    
    
    if(!threads) return;

    for (var i = 0; i < keys.length; i++){
       
        var id = threads[keys[i]].id;
        var threadName = threads[keys[i]].name;
        var threadBody = threads[keys[i]].body;
        array.push(id);
        threadList.innerHTML += 
                                '<div class="col-lg-10">'+

                                '<div id="accordion'+id+'">' +
                                    '<div class="card">' + 
                                        '<div class="card-header" id="heading'+id+'">' +
                                            '<h3 class="mb-0">' +
                                                '<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne'+id+'" aria-expanded="true" aria-controls="collapseOne'+id+'">' +
                                                    threadName + 
                                                '</button>' +
                                            '</h3>' +
                                        '</div>' + 

                                        '<div id="collapseOne'+id+'" class="collapse show cardBody" aria-labelledby="heading'+id+'" data-parent="#accordion'+id+'">' + 
                                            '<div class="card-body">' + 
                                                threadBody + 
                                            '</div>' + 
                                        
                                            '<form id="replyForm">' +
                                                '<div class="form-group row">' +
                                                    '<div class="col-md-10">' +
                                                        '<input type="text" class="form-control" id=\''+"input"+id+'\'>' + //unique id for reply object to find correct input form
                                                    '</div>' +
                                                    '<div class="col-md-1">'+
                                                        '<button type="submit" onclick="saveReply(\''+id+'\')" class="btn btn-success" id="replyBtn">Reply</button>' + 
                                                    '</div>' +
                                                '</div>' +
                                            '</form>' +
                                            '<p>Replies:</p>' +
                                            '<div id=\''+id+'\'></div>' + //creates unique id for this div based on thread id
                                            '</div>' + 
                                            '</div>' +
                                        '</div>' +
                                    '</div>' + 
                                '</div>'
                                  

    }
    createReplies();
    return array;

}


function createReplies(data) {
    //console.log("called!")
    
    var replies = data.val();
    var replyKeys = Object.keys(replies);  

    // console.log(replies[replyKeys[0]])
    
    for (var i = 0; i < array.length; i++){
        var threadID = array[i];
        //console.log(threadID)
        var replyList = document.getElementById(threadID); //finds unique id based on previous variable and id of div tag
        replyList.innerHTML = '' //clears reply list html

        for (var j = 0; j < replyKeys.length; j++){ //goes through each reply data
            
            var replyID = replies[replyKeys[j]].id; 
            var replyBody = replies[replyKeys[j]].body;
            var replyThreadID = replies[replyKeys[j]].threadID;
            //console.log(replyThreadID)
            
            if (replyThreadID == threadID) {
            //console.log("Found match!")
            replyList.innerHTML += 
                            '<div class="col-md-10">' +
                            //'<div class="card-block" id="replyCardBlock">' +
                            '<div class="card-body" id="replyCardBody">' +
                            //'<p></p>' +
                            '<p id="replyBody">' + replyBody + '</p>' +
                            //'<p id="threadID">Thread ID: ' + threadID + '</p>' +
                            //'<p id="replyID">Reply ID: ' + replyID + '</p>' +
                            '</div>' +
                            //'</div>' +
                            '</div>'
            }
            

        }
        
    }


}
        </script>
    </body>
</html>