<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Spark</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.min.css">
    <link rel="shortcut icon" type="image" href="./img/favicon.ico"/>
</head>

<body style="background-color: #26262b;"><nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #26262b;height: 15vh;">
    <div class="collapse navbar-collapse" id="navcol-1" style="width:100vw; margin: none;">
        <ul class="nav navbar-nav navbar-center" style="width:100vw;text-align:center;margin: 0 auto;width: fit-content;">
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">SPARK</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">&#183;</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">&#183;</a></li>
            <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
        </ul>
    </div>
</nav><div style="width: 100vw;height: 85vh;position: relative;">
    <span style="width: fit-content;height: fit-content;margin: 0; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <img src="./img/spark_dark.png" style="width: 20vw;" />
        <br><br>
        <div class="wrapper">
            <div id="formContent">
              
                <button class="btn btn-primary loginbtn" type="submit" style="margin-bottom:2vh">Log In with Google</button>
                <div class="separator"><h2>OR</h2></div>


              <!-- Login Form -->
              <form>
                <input type="text" id="login" name="login" placeholder="Username" class="form-control">
                <input type="password" id="password" name="login" placeholder="Password" class="form-control">
                <button class="btn btn-primary loginbtn" type="submit" style="margin-bottom:2vh">Log In</button>
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
              </div>
          
            </div>
        </div>
    </span>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>