<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Spark</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ extra }}./css/styles.min.css">
    <link rel="shortcut icon" type="image" href="{{ extra }}./img/favicon.ico" />
</head>

<body style="background-color: #26262b;">
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #26262b;height: 15vh;">
        <div class="collapse navbar-collapse" id="navcol-1" style="width:100vw; margin: none;">
            <ul class="nav navbar-nav navbar-center"
                style="width:100vw;text-align:center;margin: 0 auto;width: fit-content;">
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link" href="/">SPARK</a>
                </li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">&#183;</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link"
                        href="/about">ABOUT</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active">&#183;</a></li>
                <li role="presentation" style="float: left;" class="nav-item"><a class="nav-link active"
                        href="/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>
    <div style="width: 100vw;height: 85vh;position: relative;">
        <span
            style="width: fit-content;height: fit-content;margin: 0; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <img src="{{ extra }}./img/spark_dark.png" style="width: 20vw;" />
            <br><br>
            <div class="wrapper">
                <div id="formContent">
                    <button class="btn btn-primary loginbtn" type="submit" style="margin-bottom:2vh">Login with
                        Google</button>
                    <div class="separator">
                        <h2>OR</h2>
                    </div>
                    <!-- Login Form -->
                    <form id="formEE">
                        <input type="text" id="email" name="email" placeholder="Email" class="form-control">
                        <input type="password" id="password" name="password" placeholder="Password"
                            class="form-control">
                        <input class="btn btn-primary loginbtn" style="margin-bottom:1vh" type="submit" value="Login">
                    </form>

                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <a class="underlineHover" href="#">Forgot Password?</a><br>
                        <a class="underlineHover" href="/signup" id="signuplink">Sign Up</a>
                    </div>

                </div>
            </div>
        </span>
    </div>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>

    <script>
        var config = {
            apiKey: "AIzaSyAFsWpVKy1bjsOM07arnzk5UYIUZz7qxGY",
            authDomain: "https://spark-2121.web.app/",
            databseURL: "https://spark-2121.firebaseio.com/",
            projectId: "spark-2121"
        }
        if (firebase.apps.length === 0) {
            firebase.initializeApp(config)
            console.log("worked")
        }
        const auth = firebase.auth();
        const db = firebase.firestore();
        var form = document.getElementById("formEE")
        var submit = document.getElementById("submit")


        if ("{{ join }}" !== "") {
            document.getElementById("signuplink").setAttribute("href","/signup/{{ join }}")
        }

        form.onsubmit = function (e) {
            e.preventDefault()
            const email = form['email'].value
            const password = form['password'].value
            auth.signInWithEmailAndPassword(email, password).then(cred => {
                if ("{{ join }}" !== "") {
                    window.location.pathname = '/join/{{ join }}'
                }
                else {
                    window.location.pathname = '/dashboard'
                }
            }).catch(err => {
                console.log(err)
                alert("Please check your email and password")
            })
        }
        auth.onAuthStateChanged(function (user) {
        if (user !== null) {
            if ("{{ join }}" !== "") {
                window.location.pathname = '/join/{{ join }}'
            }
            else {
                window.location.pathname = '/dashboard'
            }
        }
        })
    </script>
</body>

</html>