<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <style>
        li:nth-child(odd) {
            background: #414141;
        }

        li:nth-child(even) {
            background: #303030;
        }

        li {
            vertical-align: middle;
        }

        li.badge {
            vertical-align: middle;
            margin-top: -0.5em;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div class="b-cont" style="width: 60vw; margin: 0 auto; margin-top:10px;">
        <h1 align="center">
            Team
        </h1>
        <div class="input-group">
            <input id="myInput" type="text" onkeyup="myFunction()" class="form-control"
                placeholder="Search by keyword...">
            <span class="input-group-btn">
                <button class="btn btn-primary" style="border-radius: 0px 5px 5px 0px;" data-toggle="modal"
                    data-target="#exampleModalCenter">Invite Members</button>
            </span>
        </div>
        <br>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Invite a User!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" rows="4" id="ctext" readonly></textarea>
                        <br>
                        <div class="alert alert-dismissible alert-primary hidden" id="alrt">
                            <button type="button" class="close" id="dismiss">&times;</button>
                            <strong>Copied Successfully!</strong>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="copy">Copy</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <ul id="myUL" class="list-group">
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        var config = {
            apiKey: "AIzaSyAFsWpVKy1bjsOM07arnzk5UYIUZz7qxGY",
            authDomain: "https://spark-2121.web.app/",
            databseURL: "https://spark-2121.firebaseio.com/",
            projectId: "spark-2121"
        }

        if (firebase.apps.length === 0) {
            firebase.initializeApp(config)
        }

        const db = firebase.firestore()
        const auth = firebase.auth()
        const sparkroom = "{{ sparkroom }}"

        auth.onAuthStateChanged(function (user) {
            console.log(user)
        })

        $(document).ready(function () {
            $("#copy").click(function () {
                $("#alrt").toggleClass("hidden");
                var copyText = document.getElementById("ctext");
                copyText.select();
                copyText.setSelectionRange(0, 99999)
                document.execCommand("copy");
            });
            $("#dismiss").click(function () {
                $("#alrt").toggleClass("hidden");
            });
            var docRef = db.collection("sparkrooms").doc(sparkroom)
            docRef.get().then(function (doc) {
                var users = doc.data().users
                var password = doc.data().password
                $("#ctext").val("Hey there, want to join my SparkRoom?\nJust click this link and sign up! https://sparkapp.cf/join/" + sparkroom + ":" + password + ".\nThe room name is " + sparkroom + " and the password is " + password)
                for (var i = 0; i < users.length; i++) {
                    var user = users[i]
                    var uname = user.uname
                    var admin = user.admin
                    var li = document.createElement("li");
                    if (admin) {
                        li.innerHTML = '<a>'+uname+'</a>'+'<span class="badge badge-success">ADMIN</span>'
                    }
                    else {
                        li.innerHTML = '<a>'+uname+'</a>'
                    }
                    li.classList = 'list-group-item'
                    document.getElementById("myUL").appendChild(li)
                }
            })
        });


    </script>
</body>

</html>