<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    html {
      background-color: #ffffff;
      font-family: "Poppins";
    }

    body {
      margin: 0;
      width: 100%;
      min-width: 250px;
      font-family: "Poppins";
      background-color: #ffffff;
    }

    li:nth-child(odd) {
      background: #c4c4c4;
      color: #333;
    }

    li:nth-child(even) {
      background: #eeeeee;
      color: #333;
    }

    li {
      vertical-align: middle;
    }

    li.badge {
      vertical-align: middle;
      margin-top: -0.5em;
    }

    .hidden {
      display: none;
    }

    .invite-btn {
      background: rgb(33, 148, 249);
      background: linear-gradient(45deg,
          rgba(33, 148, 249, 1) 0%,
          rgba(181, 76, 255, 1) 100%);
      border-radius: 0px 10px 10px 0px;
      color: white;
      display: inline;
      border: none;
      padding: 7px 12px;
    }

    svg {
      fill: white;
      width: 25px;
      height: 25px;
      float: right;
      visibility: hidden;
    }

    li:hover svg {
      visibility: visible;
      cursor: pointer;
    }

    #modal-mem {
      text-align: center;
    }

    .modal-body>button {
      margin: 5px;
    }
  </style>
</head>

<body>
  <svg class="hidden">
    <symbol viewBox="0 0 32 32" id="settings" style="width: 2px; height:2px">
      <path fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2" d="M16 12a4 4 0 1 0 0 8 4 4 0 1 0 0-8z">
      </path>
      <path fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="2"
        d="M25 16c0-.677-.081-1.335-.223-1.97l2.615-2.298-2-3.464-3.304 1.118a8.984 8.984 0 0 0-3.407-1.979L18 4h-4l-.681 3.406a8.976 8.976 0 0 0-3.407 1.979L6.608 8.268l-2 3.464 2.615 2.298C7.081 14.665 7 15.323 7 16s.081 1.335.223 1.97l-2.615 2.298 2 3.464 3.304-1.118a8.984 8.984 0 0 0 3.407 1.979L14 28h4l.681-3.406a8.976 8.976 0 0 0 3.407-1.979l3.304 1.118 2-3.464-2.615-2.298A9.028 9.028 0 0 0 25 16z">
      </path>
    </symbol>
  </svg>
  <div class="b-cont" style="width: 60vw; margin: 0 auto; margin-top: 10px;">
    <h1 align="center" style="color: #333; font-size: 2.5rem;">
      <b>Team</b>
    </h1>
    <div class="input-group">
      <input id="myInput" type="text" onkeyup="myFunction()" class="form-control"
        style="border-radius: 10px 0px 0px 10px; background-color: #ffffff; color: black; display: inline;"
        placeholder="Search by keyword..." />
      <span class="input-group-btn">
        <button class="btn btn-primary invite-btn" data-toggle="modal" data-target="#exampleModalCenter">
          Invite Members
        </button>
      </span>
    </div>
    <br />
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Invite a User!
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" rows="4" id="ctext" readonly></textarea>
            <br />
            <div class="alert alert-dismissible alert-primary hidden" id="alrt">
              <button type="button" class="close" id="dismiss">
                &times;
              </button>
              <strong>Copied Successfully!</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="copy">
              Copy
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <ul id="myUL" class="list-group"></ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
  <div class="modal fade" id="modal-mem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" id="name-header">
          Hi
        </div>
        <div class="modal-body">
          <button id="promote" class="btn btn-primary">Promote to Administrator</button><br>
          <button id="demote" class="btn btn-success">Demote to Standard User</button><br>
          <button id="remove" class="btn btn-danger">Remove User</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var curuid = null

    function myFunction() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }

    var config = {
      apiKey: "AIzaSyAFsWpVKy1bjsOM07arnzk5UYIUZz7qxGY",
      authDomain: "https://spark-2121.web.app/",
      databseURL: "https://spark-2121.firebaseio.com/",
      projectId: "spark-2121",
    };

    if (firebase.apps.length === 0) {
      firebase.initializeApp(config);
    }

    const db = firebase.firestore();
    const auth = firebase.auth();
    const sparkroom = "{{ sparkroom }}";

    var theuser = null


    $(document).ready(function () {
      $("#copy").click(function () {
        $("#alrt").toggleClass("hidden");
        var copyText = document.getElementById("ctext");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
      });
      $("#dismiss").click(function () {
        $("#alrt").toggleClass("hidden");
      });
      $("#promote").click(function () {
        if (curuid !== null) {
          var docRef = db.collection("sparkrooms").doc(sparkroom)
          docRef.get().then(function (doc) {
            var usersarr = doc.data().users;
            console.log(usersarr)
            for (var i = 0; i < usersarr.length; i++) {
              console.log(doc.data().users[i].user)
              console.log(curuid)
              if (doc.data().users[i].user === curuid) {
                console.log(curuid + "upgraded to admin")
                usersarr[i].admin = true;
              }
            }
            docRef.update({
              users: usersarr
            }).then(function () {
              window.location.pathname = window.location.pathname
            })
          })
        }
      })
      $("#demote").click(function () {
        if (curuid !== null) {
          var docRef = db.collection("sparkrooms").doc(sparkroom)
          docRef.get().then(function (doc) {
            var usersarr = doc.data().users;
            for (var i = 0; i < usersarr.length; i++) {
              if (doc.data().users[i].user === curuid) {
                usersarr[i].admin = false;
              }
            }
            docRef.update({
              users: usersarr
            }).then(function () {
              window.location.pathname = window.location.pathname
            })
          })
        }
      })
      $("#remove").click(function () {
        if (curuid !== null) {
          var docRef = db.collection("sparkrooms").doc(sparkroom)
          docRef.get().then(function (doc) {
            var usersarr = []
            for (var i = 0; i < doc.data().users.length; i++) {
              if (doc.data().users[i].user !== curuid) {
                usersarr.push(doc.data().users[i])
              }
            }
            docRef.update({
              users: usersarr
            }).then(function () {
              var docRef2 = db.collection("users").doc(curuid)
              docRef2.get().then(function (doc) {
                var sparkrooms = []
                for (var i = 0; i < doc.data().sparkrooms.length; i++) {
                  if (doc.data().sparkrooms[i] !== sparkroom) {
                    workspaces.push(doc.data().sparkrooms[i])
                  }
                }
                docRef2.update({
                  sparkrooms: sparkrooms
                }).then(function () {
                  window.location.pathname = window.location.pathname
                })
              })
            })
          })
        }
      })
      auth.onAuthStateChanged(function (user) {
        if (user !== null) {
          theuser = user
          var docRef = db.collection("sparkrooms").doc(sparkroom);
          docRef.get().then(function (doc) {
            var users = doc.data().users;
            var password = doc.data().password;
            $("#ctext").val(
              "Hey there, want to join my SparkRoom?\nJust click this link: https://sparkapp.cf/join/" +
              sparkroom +
              ":" +
              password +
              "\nThe room name is " +
              sparkroom +
              " and the password is " +
              password
            );
            var settings1 = ''
            var settings2 = ''
            for (var i = 0; i < users.length; i++) {
              if (users[i].user === theuser.uid) {
                if (users[i].admin) {
                  console.log("ADMIN!!!")
                  settings1 = '<span id="svg'
                  settings2 = '"><svg><use xlink:href="#settings"></use></svg></span></li>'
                }
              }
            }
            for (var i = 0; i < users.length; i++) {
              var user1 = users[i];
              var uname = user1.uname;
              var id = user1.user;
              var admin = user1.admin;
              var creator = user1.creator;
              var li = document.createElement("li");
              li.id = id;
              var setonclick = true;
              if (creator !== undefined) {
                li.innerHTML = "<a>" + uname + " </a>" +
                  '<span class="badge badge-success">ADMIN</span> <span class="badge badge-success">CREATOR</span>';
                setonclick = false;
              } else if (admin) {
                var a = i.toString()
                if (settings1 === '') {
                  a = ''
                }
                if (id === user.uid) {
                  li.innerHTML = "<a>" + uname + " </a>" + '<span class="badge badge-success">ADMIN</span>';
                } else {
                  li.innerHTML = "<a>" + uname + " </a>" +
                    '<span class="badge badge-success">ADMIN</span>' + settings1 + a + settings2;
                }
              } else {
                var a = i.toString()
                if (settings1 === '') {
                  a = ''
                }
                if (id === user.uid) {
                  li.innerHTML = "<a>" + uname;
                } else {
                  li.innerHTML = "<a>" + uname + settings1 + a + settings2;
                }
              }
              li.classList = "list-group-item";
              document.getElementById("myUL").appendChild(li);
              if (setonclick && settings1 !== '' && id !== user.uid) {
                if (admin) {
                  document.getElementById("svg" + i.toString()).onclick = function (e) {
                    var a = e.target;
                    while (a.nodeName !== "LI") {
                      a = a.parentElement;
                    }
                    var name = a.childNodes[0].innerHTML;
                    $('#modal-mem').modal('toggle')
                    $("#name-header").html(name)
                    $("#promote").attr("disabled", true)
                    $("#demote").attr("disabled", false)
                    curuid = a.id
                    console.log(curuid)
                  }
                } else {
                  document.getElementById("svg" + i.toString()).onclick = function (e) {
                    var a = e.target;
                    while (a.nodeName !== "LI") {
                      a = a.parentElement;
                    }
                    var name = a.childNodes[0].innerHTML;
                    $('#modal-mem').modal('toggle')
                    $(".modal-header").html(name)
                    $("#promote").attr("disabled", false)
                    $("#demote").attr("disabled", true)
                    curuid = a.id
                    console.log(curuid)
                  }
                }
              }
            }
          });
        }
      })
    });
  </script>
</body>

</html>