<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
@font-face {
  font-family: "Lexend Deca Regular";
  src: url(../fonts/LexendDecaRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #26262B;
    font-family: "Lexend Deca Regular";
}

body {
  min-width: 250px;
  font-family: "Lexend Deca Regular";
  background-color: #26262B;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  color: #36393f;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(255, 93, 0, 1) 0,
    rgba(255, 217, 25, 1) 100%
  );
  border-radius: 10px;
}

h1, h2, h3, h4, h5, p {
    color: #dde9f8;
}

.btn {
    background: linear-gradient(
    90deg,
    rgba(255, 93, 0, 1) 0,
    rgba(255, 217, 25, 1) 100%
  );
    color: #dde9f8;
    margin-right: 5px;
}

.form-control {
    background-color: #dde9f8;
    color: #26262B;
}
</style>
</head>

<body>
    <div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10" style="margin: auto; text-align: center;">
            <h1>Profile</h1>
        </div>
    </div>
    <p id="google" style="display: none;" align="center" style="text-align: center;">Google Auth Accounts can't edit profile</p>
    <div class="row" id="formstuff">
        <div class="col-sm-9" style="margin: auto;">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <form id="form" class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Display Name</h4>
                                </label>
                                <input type="text" class="form-control" name="display_name" id="display_name"
                                    placeholder="Display Name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>Password</h4>
                                </label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password2">
                                    <h4>Verify</h4>
                                </label>
                                <input type="password" class="form-control" name="password2" id="password2"
                                    placeholder="Verify Password" title="enter your password2.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg" type="submit">Save</button>
                                <button class="btn btn-lg" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Please sign in again to make these changes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-primary" onclick="signin()">Sign In</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
<script>
    var config = {
            apiKey: "AIzaSyAFsWpVKy1bjsOM07arnzk5UYIUZz7qxGY",
            authDomain: "spark-2121.firebaseapp.com",
            databaseURL: "https://spark-2121.firebaseio.com",
            projectId: "spark-2121",
            storageBucket: "spark-2121.appspot.com",
            messagingSenderId: "115390923810",
            appId: "1:115390923810:web:82727423f6479500d9367b",
            measurementId: "G-R304JKHRPK"
    }
    if (firebase.apps.length === 0) {
        firebase.initializeApp(config)
        console.log("worked")
    }
    const auth = firebase.auth();
    const db = firebase.firestore();
    var displ = null;
    var email = null;
    var tuser = null;
    var workspaces = null;
    auth.onAuthStateChanged(function (user) {
        document.getElementById("email").value = user.email
        email = user.email;
        tuser = user;
        db.collection("users").doc(user.uid).get().then(function (doc) {
            document.getElementById("display_name").value = doc.data().name
            displ = doc.data().name
            workspaces = doc.data().sparkrooms
            if (doc.data().google === true) {
                document.getElementById("formstuff").style.display = 'none'
                document.getElementById("google").style.display = 'inline-block'
            }
        })
    })
    var form = document.getElementById("form")
    form.onreset = function (e) {
        e.preventDefault();
        if (displ === null) {
            console.log("wtf")
            return
        }
        document.getElementById("display_name").value = displ;
        document.getElementById("email").value = email;
        document.getElementById("password").value = ''
        document.getElementById("password2").value = ''
    }
    form.onsubmit = function (e) {
        e.preventDefault()
        if (tuser === null) {
            return
        }
        if (displ === null) {
            return
        }
        if (document.getElementById("display_name").value !== displ) {
            db.collection("users").doc(tuser.uid).update({
                name : document.getElementById("display_name").value
            })
            if (workspaces !== null) {
                for (var i = 0; i<workspaces.length; i++) {
                    var docref23 = db.collection("sparkrooms").doc(workspaces[i])
                    docref23.get().then(function (doc) {
                        var users = doc.data().users;
                        for (var j = 0; j<users.length; j++) {
                            if (users[j].user === tuser.uid) {
                                users[j].uname = document.getElementById("display_name").value
                            }
                        }
                        docref23.update({
                            users : users
                        })
                    })
                }
            }
            displ = document.getElementById("display_name").value
        }
        if (document.getElementById("email").value !== email) {
            tuser.updateEmail(document.getElementById("email").value).catch(function (err) {
                $("#exampleModalCenter").modal()
            })
            email = document.getElementById("email").value
        }
        if (document.getElementById("password").value !== "" && document.getElementById("password").value === document.getElementById("password2").value) {
            tuser.updatePassword(document.getElementById("password").value).catch(function (err) {
                $("#exampleModalCenter").modal()
            })
        }
    }
    function signin () {
            auth.signOut()
        }
</script>
</body>
