<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<title>Spark</title>
		<link href="/css/projects.css" rel="stylesheet" />
	</head>

	<body>
		<svg style="display: none">
			<symbol viewBox="0 0 512 512" id="plus">
				<path
					d="M241.992 407.91v-97.46h-97.265v-16.016h97.265v-97.07h15.625v97.07h97.656v16.015h-97.656v97.461h-15.625z"
					font-size="431.924"
					font-weight="400"
				></path>
			</symbol>
		</svg>

		<div class="board-layout">
			<div style="width: fit-content; margin: 0 auto">
				<div class="board-text">
					<h1 style="display: inline-block; margin-top: 0px">Projects</h1>
					<button
						class="plus-btn"
						data-toggle="modal"
						data-target="#exampleModal"
						style="
							border: none;
							background-color: #cbced6;
							border-radius: 45%;
							display: inline-block;
							margin-left: 20px;
						"
					>
						<svg width="40" height="40">
							<use xlink:href="#plus"></use>
						</svg>
					</button>
					<!-- Modal -->
					<div
						class="modal fade"
						id="exampleModal"
						tabindex="-1"
						role="dialog"
						aria-labelledby="exampleModalLabel"
						aria-hidden="true"
					>
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<p style="color: #333">
										Please enter a project name:
									</p>
									<input
										id="projName"
										class="form-control"
										style="max-width: 70%; margin: 0 auto"
									/>
								</div>
								<div class="modal-footer">
									<button
										type="button"
										class="btn btn-secondary"
										data-dismiss="modal"
										id="modal"
									>
										Cancel
									</button>
									<button
										type="button"
										class="btn btn-primary"
										onclick="addcard()"
										id="modal"
										data-dismiss="modal"
									>
										Add
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div
					id="boardlists"
					class="board-lists"
					style="margin: 0 auto !important"
				>
					<div
						id="list1"
						class="board-list"
						ondrop="dropIt(event)"
						ondragover="allowDrop(event)"
					>
						<div class="list-title">To Do</div>
					</div>
					<div
						id="list2"
						class="board-list"
						ondrop="dropIt(event)"
						ondragover="allowDrop(event)"
					>
						<div class="list-title">In Progress</div>
					</div>
					<div
						id="list3"
						class="board-list"
						ondrop="dropIt(event)"
						ondragover="allowDrop(event)"
					>
						<div class="list-title">Done</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

		<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

		<!-- Add Firebase products that you want to use -->
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-database.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
		<script>
			var group = '{{ sparkroom }}'
		</script>
		<script src="/js/projects.js"></script>
	</body>
</html>
