<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/css/tasks.css" rel="stylesheet" />
	</head>

	<body style="width: 95%; margin: 0 auto">
		<div id="myDIV" class="header">
			<h1
				style="
					margin: 5px;
					margin-bottom: 25px;
					margin-top: 0px;
					color: #333;
					font-size: 2.5rem;
				"
			>
				Tasks
			</h1>
			<form id="formEE">
				<input
					style="background-color: #dee2e6"
					type="text"
					id="myInput"
					placeholder="Task..."
				/><input
					type="submit"
					class="addBtn"
					value="Add"
					style="color: white"
				/>
			</form>
		</div>

		<ul id="myUL"></ul>

		<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

		<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

		<!-- Add Firebase products that you want to use -->
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-database.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
		<script src="/js/tasks.js"></script>
	</body>
</html>
