@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
	background-color: #ffffff;
	font-family: 'Poppins';
}

body {
	margin: 0;
	width: 100%;
	min-width: 250px;
	font-family: 'Poppins';
	background-color: #ffffff;
}

/* Include the padding and border in an element's total width and height */

* {
	box-sizing: border-box;
}

/* Remove margins and padding from the list */

ul {
	margin: 0;
	padding: 0;

	li {
		color: #cbced6;
		cursor: pointer;
		position: relative;
		padding: 12px 8px 12px 40px;
		list-style-type: none;
		background: #eee;
		font-size: 18px;
		transition: 0.2s;

		/* make the list items unselectable */
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:nth-child(odd) {
			background: #fff;
		}

		&:hover {
			background: #ddd;
		}

		&.checked {
			background: #888;
			color: #fff;
			text-decoration: line-through;

			&::before {
				content: '';
				position: absolute;
				border-color: #fff;
				border-style: solid;
				border-width: 0 2px 2px 0;
				top: 10px;
				left: 16px;
				transform: rotate(45deg);
				height: 15px;
				width: 7px;
			}
		}
	}
}

/* Style the list items */

/* Set all odd list items to a different color (zebra-stripes) */

/* Darker background-color on hover */

/* When clicked on, add a background color and strike out text */

/* Add a "checked" mark when clicked on */

/* Style the input */

input {
	color: #cbced6;
	margin: 0;
	border: none;
	border-radius: 10px 0px 0px 10px;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

/* width */

::-webkit-scrollbar {
	width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: rgb(33, 148, 249);
	background: linear-gradient(
		180deg,
		rgba(33, 148, 249, 1) 0%,
		rgba(181, 76, 255, 1) 100%
	);
	border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
p,
.content-text {
	color: #333;
}

hr {
	background-color: #333;
}

.submit-btn,
.btn {
	background: linear-gradient(
		45deg,
		rgba(33, 148, 249, 1) 0%,
		rgba(181, 76, 255, 1) 100%
	);
}

.text-muted {
	color: #333;
}
